<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <p>Welcome to your dashboard!</p>
        <p>Tap on the features option for PDF features:</p>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
