<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Features</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <h2>PDF Features:</h2>
        <p style="font-size: large; color: black; font-family: 'Courier New', Courier, monospace;"> Select Any of the Features Below </p>
        <div class="features-grid">
            <a href="/compresspdf">
                <div class="feature-box">Compress PDF</div>
            </a>
            <a href="/extractpdf">
                <div class="feature-box">Extract PDF</div>
            </a>
            <a href="/imagetopdf">
                <div class="feature-box">Image to PDF</div>
            </a>
            <a href="/officetopdf">
                <div class="feature-box">Office to PDF</div>
            </a>
            <a href="/pdftopdfa">
                <div class="feature-box">PDF to PDF/A</div>
            </a>
        </div>
        
    </main>
    <%- include('partials/footer') %>
</body>
</html>
